<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Result</title>
</head>
<body>
    <h1>Password Check Result</h1>
    <p>
        {{#if compromised}}
            The password has been compromised.
        {{else}}
            The password has NOT been compromised.
        {{/if}}
    </p>
    <a href="/">Try Another Password</a>
</body>
</html>