main {
    padding: 20px;
    background-color: #ffc526;
}

header h1 {
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    margin: 10px;
    background-color: #ffc526;
}

header {
    background-color: #ffc526;
    width: 100%;
}

header img {
    width: auto;
    display: block;
    margin: 0 auto;
}

.workout-box {
    border: 1px solid #000;
    padding: 10px;
    margin: 10px;
    width: 200px;
    overflow: hidden;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
}

.workouts-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.workout-name {
    font-weight: bold;
}

.comments{
    height: 50px;
    width: 100%;
    overflow: auto;
    resize: none;}

.add-workout-link {
    text-decoration: none;
    display: inline-block;
    margin-bottom: 10px;
}

.center-container {
    text-align: center;
    margin-top: 20px;
}

.favorited {
    color: gold;
}

.action-buttons {
    display: flex;
    gap: 10px;
    margin-top: auto;
}

#comments {
    height: 15px;
    width: 300px;
    resize: none;
}

#board {
    border: 1px solid #000;
}
